<ion-header *ngIf="!isLoading">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile Page</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-list>
          <ion-list-header>
            <ion-item lines="none">
              <ion-text>Your Profile:</ion-text>
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </ion-item>
          </ion-list-header>

          <ion-item>
            <ion-avatar slot="start">
              <img [src]="user.photoURL" alt="" srcset="">
            </ion-avatar>
            <ion-text>
              {{ user.displayName }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-text>
              {{ user.email }}
            </ion-text>
          </ion-item>
          <ion-item button (click)="auth.signOut()">
            <ion-icon  color="danger" slot="start" name="exit-outline"></ion-icon>
            <ion-text color="danger">Sign Out</ion-text>
          </ion-item>
        </ion-list>
        <ion-button style="--border-radius: 30px;" *ngIf="user.roles?.visitor && !user.accounts" expand="block" color="secondary" (click)="onConnectStargazer()">
          <ion-icon name="wallet-outline" slot="start"></ion-icon>
          <ion-text>Connect Stargazer Wallet</ion-text>
        </ion-button>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Stargazer Wallet Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list-header>
              <ion-text>ETH Accounts</ion-text>
            </ion-list-header>
            <ion-item *ngFor="let ethAcc of user.accounts?.ethAccounts">
              <ion-icon slot="start" name="wallet-outline"></ion-icon>
              <ion-text>{{ethAcc}}</ion-text>
            </ion-item>
            <ion-list-header>
              <ion-text>DAG Accounts</ion-text>
            </ion-list-header>
            <ion-item *ngFor="let dagAcc of user.accounts?.dagAccounts">
              <ion-icon slot="start" name="wallet-outline"></ion-icon>
              <ion-text>{{dagAcc}}</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-header *ngIf="isLoading">
  <ion-toolbar>
    <ion-title>Profile Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <!-- Skeleton screen -->
        <div>
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </div>
      
          <ion-list>
            <ion-list-header>
              <ion-label>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
